:root {
    /* start menu */
    --linkNormal-bg-color: #ececec;
    --linkNormal-txt-color: #08447A;
    --linkVisited-bg-color: #ececec;
    --linkVisited-txt-color: rgb(11, 127, 228);
    --linkHover-bg-color: #08447A;
    --linkHover-txt-color: #ececec;
    --linkActive-bg-color: #68A5BA;
    --linkActive-txt-color: #08447A;

    --menubody1-bg-color: #08447A; /* Menu backgound Color */
    --menubody2-bg-color: #68A5BA; /* Menu backgound Color */
    --menubody-txt-color: #ececec; /* Menu text Color */

    --menuactive-bg-color: #6E98BE; /* Menu active Color */
    --menuactive-txt-color: #ffffff; /* Menu active Color */

    --menuhover-bg-color: hsl(35, 100%, 77%); /* Menu hover Color */
    --menuhover-txt-color: #26201E; /* Menu hover text Color */  
    /* end menu */

    --body-bg-color:#C9DAEA;
    --body-txt-color:#141A18;

    --title1-bg-color : #2E7B94;
    --title2-bg-color : #045975;
    --title-txt-color : rgb(214, 214, 214);

    --content-bg-color : #ececec;
    --content-txt-color : #26201E;

    --subcontent-bg-color : #68A5BA;
    --subcontent-txt-color : #26201E;

    /* start biodata */
    --evenRow-bg-color : #C7E0E8;
    --evenRow-txt-color : #26201E;

    --oddRow-bg-color : #CBD6EB;
    --oddRow-txt-color : #26201E;
    /* end biodata */

    /* start education */
    --eduRowSpanLeft-bg-color : #C7E0E8;
    --eduRowSpanLeft-txt-color : #26201E;

    --eduRowSpanRight-bg-color : #C7E0E8;
    --eduRowSpanRight-txt-color : #26201E;

    --beloweduRowSpan-bg-color : #C7E0E8;
    --beloweduRowSpan-txt-color : #26201E;
    /* end education */

    /* start capabilities */
    --capRowTitle-bg-color : #C7E0E8;
    --capRowTitle-txt-color : #26201E;

    --capRow-bg-color : #C7E0E8;
    --capRow-txt-color : #26201E;

    --progressBar1-bg-color : #26201E;
    --progressBar2-bg-color : #2E7B94;
    /* end capabilities */

    /* start portfolio */
    --subTitle1-bg-color : #2E7B94;
    --subTitle2-bg-color : #2E7B94;
    --subTitle-txt-color : #C7E0E8;
    /* end portfolio */

    /* start pageBottom */   
    --pageBottomTitle1-bg-color : #C7E0E8;
    --pageBottomTitle2-bg-color : #C7E0E8;
    --pageBottomTitle-txt-color : #045975;
    /* end pageBottom */
}
a {
    font-size: 20px;
    text-decoration: none;
}
.btn {
    background: #C9DAEA;
    background-image: -webkit-linear-gradient(top, #C9DAEA, #68A5BA);
    background-image: -moz-linear-gradient(top, #C9DAEA, #68A5BA);
    background-image: -ms-linear-gradient(top, #C9DAEA, #68A5BA);
    background-image: -o-linear-gradient(top, #C9DAEA, #68A5BA);
    background-image: linear-gradient(to bottom, #C9DAEA, #68A5BA);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Frank Ruhl Libre';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }  
  .btn:hover {
    background: #C7E0E8;
    background-image: -webkit-linear-gradient(top, #C7E0E8, #3498db);
    background-image: -moz-linear-gradient(top, #C7E0E8, #3498db);
    background-image: -ms-linear-gradient(top, #C7E0E8, #3498db);
    background-image: -o-linear-gradient(top, #C7E0E8, #3498db);
    background-image: linear-gradient(to bottom, #C7E0E8, #3498db);
    text-decoration: none;
  }
.links:link {
    background-color: var(--linkNormal-bg-color);
    color: var(--linkNormal-txt-color);
}
.links:visited {
    background-color: var(--linkVisited-bg-color);
    color: var(--linkVisited-txt-color);
}
.links:hover {
    background-color: var(--linkHover-bg-color);
    color: var(--linkHover-txt-color);
}
.links:active {
    background-color: var(--linkActive-bg-color);
    color: var(--linkActive-txt-color);
}
body {
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Frank Ruhl Libre';
}
button{
    background-color: var(--body-bg-color);
    padding: 5px;
    font-size: 18px
}
.header {
    padding: 18px;
    background-color: black;
}
.seperator {
    height: 20px;
}
table {
    width: 100%;
    padding: 0;
    margin: 0;
}
table th{
    color: white;
    font-size: 20px;
}
table, tr,td{
    padding-right: 10;
    padding-left: 10;
    margin: 0;
}
img{
    display: block;
    cursor: pointer;
    transition: 0.3s;
    max-width: 500px;
}
img:hover {
    opacity: 0.7;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* menu section */
.menu-outer {
    padding: 4px;
    position: fixed;
    z-index: 5; /* Sit on top */
    top: 0;    
    width: 100%;
    background: linear-gradient(to bottom right, var(--menubody1-bg-color), var(--menubody2-bg-color));
    color: var(--menubody-txt-color);
}
.menubutton {
    display: inline-block;
}
.menubutton a {
    display: block;
    list-style: none;
    text-decoration: none;
    color: var(--menubody-txt-color);
    padding: 3px 20px;
    text-align: center;
}
.menubutton:hover a {
    background-color: var(--menuhover-bg-color);
    color: var(--menuhover-txt-color);
}
.active a{
    background-color: var(--menuactive-bg-color);
    color: var(--menuactive-txt-color);
}
.domain {
    color: #ececec;
    font-size: 25px;
}
.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;   
    padding: 0;
}
ul#horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#horizontal-list li {
    display: inline-block;    
}
.leftmenu{
    display: inline-block;
    width: 75%;
    margin: 0;
    padding: 0;    
    vertical-align:top;    
}
.rightmenu{
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;    
    vertical-align:top;
}
/* end menu section */

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* content section */
.title {
    font-size: 50px;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom right, var(--title1-bg-color), var(--title2-bg-color));    
    color: var(--title-txt-color);
    padding-bottom: 3px;
    padding-top: 3px;
}
.contentholder{
    background-color: var(--content-bg-color);
    color: var(--content-txt-color);
    width: 96%;
    min-width: 96%;    
    margin: 0 auto;
    margin-top: 15px;
    min-height: 400px;;
}
.flex {    
    display: flex;
    width: 100%;
}
.sidebyside60{    
    background-color: var(--subcontent-bg-color);
    color: var(--subcontent-txt-color);    
    width: 60%;
    flex: 1;
    margin: 0.5%;
}
.sidebyside40{    
    background-color: var(--subcontent-bg-color);
    color: var(--subcontent-txt-color);    
    width: 40%;
    flex: 1;
    margin: 0.5%;
}
.innerpadding {
    padding: 0%;
}
.innerpadding05{
    padding: 0.5%;
}
.tableContainer1 {
    background-color: var(--subcontent-bg-color);
    color: var(--subcontent-txt-color);    
    min-height: 200px;
    width: 100%;
    display: table;
}
.tableContainer2 {
    vertical-align: middle;
    display: table-cell;
    height: 100%;    
}
.myTable {
    padding: 1%;
    margin: 0 auto;
    width: 100%;
}
.tableContainer {      
    margin: 0 auto;
    width: 100%;
}
.container {
    position: relative;    
}
.biodata {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;   
}
.text {
    background-color: var(--subcontent-bg-color);
    color: var(--subcontent-txt-color);
    font-size: 16px;
    padding: 5px 5px;
}

/* start biodata */
.oddRow{
    background-color: var(--oddRow-bg-color);
    color: var(--oddRow-txt-color);
}
.evenRow{
    background-color: var(--evenRow-bg-color);
    color: var(--evenRow-txt-color);
}
.iconDiv{
    background-color: var(--evenRow-bg-color);
    width: 94%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3%;
    margin-right: 3%;
}
.iconContainer {
    display: inline-block;
}
.contactIcon{   
    margin: auto;
    width: 60px;
    height: 60px;
}
/* end biodata */

/* start education */
.rowContainer {
    margin: 1% auto;
    width: 95%
}
.flex {
    display: flex;
    width: 100%;
}
.eduRowSpanLeft {    
    background-color: var(--eduRowSpanLeft-bg-color);
    color: var(--eduRowSpanLeft-txt-color);    
    display: inline-block;
    width: 32%;
    vertical-align: top;
    flex: 1;
    padding: 1%;
}
.eduRowSpanRight {
    background-color: var(--eduRowSpanRight-bg-color);
    color: var(--eduRowSpanRight-txt-color);    
    display: inline-block;
    width: 68%;
    vertical-align: top;
    flex: 1;
    padding: 1%;
}
.beloweduRowSpan {
    background-color: var(--beloweduRowSpan-bg-color);
    color: var(--beloweduRowSpan-txt-color);
    width: 98%;
    padding: 1%;
    padding-bottom: 2%;
    vertical-align: top;
    font-size: 20px;
}

/* end education */

/* start capabilities */ 
;
.capContainer{
    padding: 1%;
}
.capRowTitle {
    background-color: var(--capRowTitle-bg-color);
    color: var(--capRowTitle-txt-color);
}
.capRow{
    background-color: var(--capRow-bg-color);
    color: var(--capRow-txt-color);
}
.firstColumn{
    width: 25%;
}
.secondColumn{
    width: 25%;
}
.thirdColumn{
    width: 50%;
}
.progressBar{
    width: 100%;
}
.progress{
    background: linear-gradient(to bottom right, var(--progressBar1-bg-color), var(--progressBar2-bg-color));
    height: 25px;
}
/* end capabilities */

/* HOME */
/* start indtroduction */
#homeContent {    
    min-height: 325px;
}
#homwSideBySide {
    display: inline-block;
    height: 100%;
}
#homwSideBySide30 {
    display: inline-block;
    width: 30%;
}
#homwSideBySide70 {
    display: inline-block;
    width: 70%;    
    vertical-align: top;
    max-height: 800px;
    overflow-y: scroll;    
    margin-top: 10px;
    margin-bottom: 10px;
}
#introductionContent{
    text-align: justify;
    margin: 10px;
    font-size: 18px;
}
#homeImageHolder{
    max-width: 300px;
    margin: 10px auto;
    vertical-align: middle;
}
@-moz-document url-prefix() {
    #homeImageHolder {
        max-width: 300px;
        margin: 10px auto;
        vertical-align: middle;
    }
}
.hide{
    display: none;
}
/* end indtroduction */

/* start portfolio */
.flexContainer{
    width: 100%;
    height: auto;    
}
.subTitle {
    background: linear-gradient(to bottom right, var(--subTitle1-bg-color), var(--subTitle2-bg-color));
    font-size: 30px;
    color: var(--subTitle-txt-color);
    padding: 10px;
    font-weight: bold;
}
.imgContainer {
    position: relative;
    height: 240px;
    overflow: auto;
    overflow-y: scroll;
    white-space: nowrap;
}
.imgDiv { 
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    max-width: 350px;
    position: relative;
}
.bottomCaption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.imgDiv:hover .image {
    opacity: 0.3;
}
.imgDiv:hover .bottomCaption {
    opacity: 1;
}
.projectImg {
    display: block;    
    max-height: 200px;
    width: 100%;
}
.descriptionText {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    text-align: justify;
}
/* end portfolio */

/* start pagebottom */
.pageBottom {
    margin: 30px;
}
.pageBottomTitle {
    font-size: 25px;
    background: linear-gradient(to bottom right, var(--pageBottomTitle1-bg-color), var(--pageBottomTitle2-bg-color));
    color: var(--pageBottomTitle-txt-color); 
}
.contactCont {
    width: 100%;
}
.contactCont1 {
    display: inline-block;
    width: 40%;
}
.contactCont2 {
    display: inline-block;
    width: 59%;
    vertical-align: top;
}
.margin10 {
    margin: 10px;
}
/* end pagebottom */

/* test */ 
.fromRight{
    position: relative;
    right: -1400px;
}
.toLeft{
    position: relative;
    left: 0px;
}
.fromLeft{
    position: relative;
    left: -1400px;
}
.toRight{
    position: relative;
    right: 0px;
}
/* test */
