@mixin linkAttitude () {
    &:link {
        background-color: $linkNormal-bg-color;
        color: $linkNormal-txt-color;
    }
    &:visited {
        background-color: $linkVisited-bg-color;
        color: $linkVisited-txt-color;
    }
    &:hover {
        background-color: $linkHover-bg-color;
        color: $linkHover-txt-color;
    }
    &:active {
        background-color:$linkActive-bg-color;
        color: $linkActive-txt-color;
    }
}

@mixin cornerBorderRadius() {
    border-radius: 0px 50px 0px 0px;
}

@mixin leafBorderRadius() {
    border-radius: 0px 50px 0px 50px;
}